nav {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(../img/wood-nature-sun-forest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.nav_box {
    height: 60px;
    width: 30%;
    background-color: #ffffff;
    opacity: 0.5;
    position: relative;
    top: 70px;
    left: 65%;
    z-index: 2;
    text-align: center;
}

.nav_box h1 {
    margin: 0px;
    padding-top: 10px;
}
.main{
  display:block;
  width:90%;
  max-width: 1280px;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

}

.main_boxs{
  display: inline-block;
  width:33%;
  min-width: 284px;
  margin: 10px auto;
}

.main_box{
  display: block;
  width: 284px;
  background-color: #ffffff;
  border-radius:10px;
  box-shadow:0px 3px 4px 0px #222222;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main_box img{
  height: 189px;
  width: 285px;
}

.text{
  font-size: 18px;
  font-style: normal;
  font-family: sans-serif;
  text-align: center;
}
.btn1 .btn{
  margin-left: auto;
  margin-right: auto;
}
